@using ThunderBank.Models;
@model Movimiento
@{
    ViewData["Title"] = "Crear Movimiento";
}

<h3>Creación de Movimientos</h3>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="Movimiento" asp-action="Crear" class="text-white">
    <div class="mb-3">
        <select asp-for="Tipo">
            <option value="INGRESO">INGRESO</option>
            <option value="GASTO">GASTO</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Importe" class="form-label"></label>
        <input type="text" asp-for="Importe" class="form-control text-black" />
        <span asp-validation-for="Importe" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comentario" class="form-label"></label>
        <input type="text" asp-for="Comentario" class="form-control text-black" />
        <span asp-validation-for="Comentario" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NumeroCuentaRelacionada" class="form-label"></label>
        <input type="text" asp-for="NumeroCuentaRelacionada" class="form-control text-black" />
        <span asp-validation-for="NumeroCuentaRelacionada" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
    <a class="btn btn-secondary" asp-action="ListadoMovimientos">Cancelar</a>
</form>
