@using ThunderBank.Models;
@model Movimiento
@{
    ViewData["Title"] = "Crear Movimiento";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

    <h3>Creación de Movimientos</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="Movimiento" asp-action="Crear" class="text-white">
        <div class="mb-3">
            <select required asp-for="Tipo" class="form-select w-25" aria-label="Default select example">
                <option>Seleccione el tipo de movimiento</option>
                <option value="INGRESO" selected>INGRESO</option>
                <option value="GASTO">GASTO</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Importe" class="form-label"></label>
            <input type="text" asp-for="Importe" placeholder="Intoduzca una cuantía. Ejemplo(1000 - 30,5)" class="form-control text-black"/>
            <span asp-validation-for="Importe" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Comentario" class="form-label"></label>
            <input type="text" asp-for="Comentario" class="form-control text-black" />
            <span asp-validation-for="Comentario" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NumeroCuentaRelacionada" class="form-label"></label>
            <input type="text" asp-for="NumeroCuentaRelacionada" class="form-control text-black" required />
            <span asp-validation-for="NumeroCuentaRelacionada" class="text-danger"></span>
        </div>
        <button class="btn btn-success" type="submit">Enviar</button>
        <a class="btn btn-danger" asp-action="ListadoMovimientos">Cancelar</a>
    </form>

