@using Microsoft.AspNetCore.Identity;
@using ThunderBank.Models;
@inject SignInManager<Usuario> SignInManager

    <ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
        <div class="btn-group dropstart ">
            <button type="button" class="btn dropdown-toggle text-black" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#D6B75B">
                <i class="bi bi-person-circle"></i> @User.Identity.Name
            </button>
            <ul class="dropdown-menu">
                <li style="margin-left:10px">
                    Panel de Usuario
                </li>
                <li>
                    <form class="form-inline" asp-action="Logout" asp-controller="Usuario">
                        <button type="submit" class="nav-link btn btn-link text-black"><i class="bi bi-box-arrow-left" style="font-size:20px;margin-right:5px"></i>Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-action="Registro" asp-controller="Usuario">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Login" asp-controller="Usuario">Login</a>
        </li>
    }
    </ul>

