h1 {
    color: var(--secondary-color)
}

tr {
    color: #f8f8f8;
}

#btn-edit {
    background-color: white !important;
}
a i{
    color: white !important;
}

#fechaApertura, #saldo {
    display: none;
}

@media (min-width: 768px) {
    #fechaApertura, #saldo {
        display: table-cell;
        color: #f8f8f8;
    }
}