@using ThunderBank.Models.DTO;
@model IEnumerable<DtoUsuario>

@{
    ViewData["Title"] = "Mis clientes";
    Layout = "~/Views/Shared/_LayoutResponsable.cshtml";
}
<div class="px-4 py-5 my-5 text-center">
    <i class="bi bi-person-vcard-fill mb-4 text-white" style="font-size:55px"></i>
    <h1 class="display-5 fw-bold">Mis Clientes</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-white">
            Hay veces que no hay que mirar tanto a los horizontes y hay que mirar algo más lo <b>cercano</b> verdad... Bueno pues para eso está esta pestaña para ver a tus clientes. No olvides que no tutorizar
            correctamente a un cliente puede traer consecuencias; desde un azote hasta pena de muerte, mejor me lo pensaría.
        </p>
    </div>
</div>
<h1>Mis clientes</h1>
<partial name="_Listado" model="Model" />
