@using ThunderBank.Models.DTO;
@model IEnumerable<DtoUsuario>

@{
    ViewData["Title"] = "Mis clientes";
    Layout = "~/Views/Shared/_LayoutResponsable.cshtml";
}

<h1>Mis clientes</h1>
<partial name="_Listado" model="Model" />
