@using ThunderBank.Models.DTO;
@model IEnumerable<DtoUsuario>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_LayoutResponsable.cshtml";
}

<h1>Clientes</h1>
<partial name="_Listado" model="Model" />
