@using ThunderBank.Models;
@model Cuenta
@{
    ViewData["Title"] = "Crear Cuentas";
}


<h5>Creación de Cuenta</h5>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="Cuenta" asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Saldo" class="form-label"></label>
        <input type="text" asp-for="Saldo" class="form-control text-black" />
        <span asp-validation-for="Saldo" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="FechaApertura" value="@DateTime.Now" />
    <div class="mb-3">
        <select asp-for="Tipo">
            <option value="RAYO">RAYO</option>
            <option value="TRUENO">TRUENO</option>
            <option value="TORMENTA">TORMENTA</option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

