h1 {
    color: var(--secondary-color)
}

tr {
    color: #f8f8f8;
}

#fechaApertura, #saldo {
    display: none;
}
a i {
    color: white !important;
}
#btn-edit{
    background-color:white !important;
}



@media (min-width: 768px) {
    #fechaApertura, #saldo {
        display: table-cell;
        color: #f8f8f8;
    }
}
