<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThunderBank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThunderBank.Main.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" asp-append-version="true">
</head>
<body id="bodyLogin">
    <div class="containerLogin">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@*
    <footer class="footer" id="footerRedes">
        <div class="mb-3 mx-5">
            <a target="_blank" href="https://www.youtube.com/watch?v=5V0LE3VQVPc&ab_channel=KloxzTV"><i class="bi bi-instagram"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@@electronicant78/video/7240697311825857794?lang=es"><i class="bi bi-twitter"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@@davidnikiforov0/video/7229471262765042970?lang=es"><i class="bi bi-facebook"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@@all_we_need_is_love_19/video/7206073919634148613?lang=es"><i class="bi bi-envelope"></i></a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
