@using ThunderBank.Models.DTO;
@using ThunderBank.Models;
@model DtoUsuario
@{
    ViewData["Title"] = "Dar de alta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Nueva alta</h1>
<div class="form-container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="Usuario" asp-action="Crear" class="w-100">
        <div class="col mb-4">
            <div class="row">
                <div class="col-4">
                    @*Nombre*@
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Nombre" placeholder="Nombre" />
                        <label asp-for="Nombre" class="form-label"></label>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @*Apellidos*@
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Apellido" placeholder="Apellidos" />
                        <label asp-for="Apellido" class="form-label"></label>
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*Contraseña*@
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" asp-for="Psw" placeholder="Contraseña" />
                        <label asp-for="Psw" class="form-label"></label>
                        <span asp-validation-for="Psw" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" asp-for="PswComprobada" placeholder="Contraseña" />
                        <label asp-for="PswComprobada" class="form-label"></label>
                        <span asp-validation-for="PswComprobada" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @*DNI*@
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Dni" placeholder="DNI" />
                        <label asp-for="Dni" class="form-label"></label>
                        <span asp-validation-for="Dni" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @*Email*@
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Correo electrónico" />
                        <label asp-for="Email" class="form-label"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @*Selección de rol*@
                    <div class="form-floating mb-3">
                        <select asp-for="Rol" asp-items="Html.GetEnumSelectList<RolesUsuario>()"
                                class="form-select" id="floatingSelect"></select>
                        <label class="form-label" asp-for="Rol" for="floatingSelect">Tipo de usuario</label>
                        <span asp-validation-for="Rol" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @*Fecha de nacimiento*@
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" asp-for="FechaDeNacimiento" placeholder="Fecha de nacimiento" />
                        <label asp-for="FechaDeNacimiento" class="form-label"></label>
                        <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @*Teléfono*@
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Telefono" placeholder="Teléfono" />
                        <label asp-for="Telefono" class="form-label"></label>
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*Dirección*@
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Direccion" placeholder="Dirección" />
                <label asp-for="Direccion" class="form-label"></label>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="FechaDeAlta" value="@DateTime.Now" />

        <button class="btn btn-success" type="submit">Dar de alta</button>
        <a class="btn btn-warning" asp-action="Index">Cancelar</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
