@model ThunderBank.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div id="logo">
    <a asp-action="Index" asp-controller="Home">
        <img class="img-fluid logo" src="~/img/LetrasLogoDifuminado.png" />
    </a>
</div>

<div class="d-flex vh-80">
    <div id="izquierdaLanding" class="w-50 m-5">
        <h1 style="font-weight: 300; font-size: 2em;">Bienvenido a <span style="font-weight: 700;">ThunderBank</span></h1>
        <p>Por favor, introduce tus datos</p>
        <form asp-action="Login" id="formularioLogin" class="mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control p-3" placeholder="jose.cuervo@example.com"  />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Pwd" class="form-label"></label>
                <input asp-for="Pwd" class="form-control p-3" placeholder="········" type="password" />
            </div>


            <div class="d-flex justify-content-between">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="Recuerdame">
                    <label class="form-check-label" for="exampleCheck1" asp-for="Recuerdame"></label>
                </div>
                <div>
                    <a href="#">Olvidé mi contraseña</a>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-100 p-3 mt-5 mb-3" id="botonLogin">Iniciar sesión</button>
            </div>
        </form>
    </div>

    <div id="derechaLanding" class="position-relative">
        <div class="svg-container position-absolute">
        </div>
        <div class="text-container position-absolute">
            <p class="text-center right-content">
                En <b>ThunderBank</b>, tu seguridad es lo primordial. Accede a tu cuenta de forma rápida y segura. Revisa tus saldos, realiza pagos y transacciones sin preocupaciones.
                <br /><b id="uneteText">¡Únete a ThunderBank!</b>

            </p>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}